body {
  align-items: center;
  background: linear-gradient(#41bf8f, #406356);
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand';
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

@font-face {
  font-family: 'Quicksand';
  src: url('https://fonts.googleapis.com/css?family=Quicksand');
}

.winners img {
  border: 3px solid #95E8C8 ;
}

.winners {
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  align-self: center;
  
}

.winners-score {
  font-family: 'Quicksand';
  font-weight: 900;
  align-self: flex-end;
}
.winners-are{
  margin-bottom: 100px;
  width: 600px;
}
/* .[Project]-Trivia-Game-1-hex { color: #41BF8F; }
.[Project]-Trivia-Game-2-hex { color: #95E8C8; }
.[Project]-Trivia-Game-3-hex { color: #4DE3AA; }
.[Project]-Trivia-Game-4-hex { color: #406356; }
.[Project]-Trivia-Game-5-hex { color: #3CB083; }
 */